// Lato
@font-face {
	font:{
		family: 'Lato';
		weight: 300;
	}
	src: url(../webfonts/fonts/Lato-Light.woff);
}
@font-face {
	font:{
		family: 'Lato';
		weight: 700;
	}
	src: url(../webfonts/fonts/Lato-Bold.woff);
}
// Roboto
@font-face {
	font:{
		family: 'Roboto';
		weight: 400;
	}
	src: url(../webfonts/fonts/Roboto-Medium.woff);
}