.navbar{
	background-color: $white;
}
.navbar-text a.btn-link{
	@include animated;
}
.navbar-text a.btn-link:hover{
	color: var(--primary);
}
.navbar-brand img{
	max-height: 64px;
}
.navbar-toggle-icon{
	@extend body;
}
.navbar-nav .nav-link{
	@extend body;
	@include animated;
}
.navbar-nav .nav-link:hover{
	color: rgba($indigo, 0.8) !important;
}