@mixin animated{
	transition: 0.2s all;
}
@import "variables";
@import "grid";
@import "header";
@import "mediaQueries";
body{
	color: var(--indigo) !important;
	font-family: var(--sans);
}
.lead{
	font-weight: inherit;
}
.text-dark{
	@extend body;
}
.bg-primary{
	background-color: var(--indigo) !important;
}